* {
    padding: 0%;
    margin: 0%;
    outline: none;
    box-sizing: border-box;
}


/* Main Screen */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornsilk;
}

/* Calculator */
.calculator {
    height: auto;
    width: 35%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 50px 0px rgba(196, 196, 196, 0.507) ;
}

.calculator-screen input {
    width: 100%;
    height: 75px;
    background-color: green;
    border: none;
    text-align: right;
    padding: 6px 14px;
    font-size: 1.4em;
}


.operation-keys {
    display: flex;
}
.operation-keys button {
    width: 25%;
    padding: 17px 0px;
}


.main-keys ,.section {
    display: flex;
}
.keys-digits {
    width: 75%;
}
.section button {
    padding: 17px 0px;
    width: 33.33%;
}


.evaluate {
    width: 25%;
    display: flex;
    flex-direction: column;
}
.delete {
    height: 25%;
    width: 100%;
}
.equal-to {
    height: 75%;
    width: 100%;
}

/* Universal style for button  */
button {
    display: block;
    font-size: 1.3em;
    border: none;
    background-color: wheat;
    outline: 1px solid rgba(0, 0, 0, 0.411);
}

button:active {
    background-color: wheat;
    opacity: 0.6;
}